*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex.gz(busy)
*.lnd
*.ldx
*.nnd
*.ndx
*.bib.bak
*.run.xml
*.bcf
.DS_Store
*.synctex
*.snm
*.nav
*.fls
*.fdb_latexmk
*.prj
*.prj.bak
*.yaml
CombineVideos/*.mp4
*.m4a
*.mp3
*.mp4
*.avi
!storyboard/*.pdf
!storyboard/previews/*.png
!samcarter/*/*.pdf
!samcarter/*/*.svg
hippos.gif
wildwest.gif
island.gif
choir.gif
goodbye.gif
extravaganza-intermission-different-tug.gif
tmp
venice.pdf
art.pdf
vampires.pdf
vampires_combine.pdf
lochness.pdf
baaaaa.pdf
bobble.gif
honey.pdf
bees.pdf
